Repository SovereignCloudStack/minutes, pull requests merged in 2023-09, with the labels that each got.

#347 Add slides from Community Call 2023-09-07.
  community-call/20230907-slides.md
  community-call/73b648ae-dac7-488d-b201-f26718e50687.png
  community-call/7938ad7c-e76e-48bd-9b3c-427a79909bca.png
  community-call/8f53702a-4aef-43c6-8d3d-168c2a5c43d4.png
  community-call/98a715dc-fb94-46d2-948d-40fdf4fee42c.jpg
  community-call/c5c7fb5e-cc3f-4ece-a7bb-1679df07768f.png
  community-call/e2c59fe6-1961-4aaa-a351-de9fad8d63b8.jpg
  community-call/ed42483e-8453-497d-a39f-7d99885f4c70.png
Labels: housekeeping

#359 Add minutes from SIG community call on 2023-09-25
  sig-community/20230925.md
Labels: Community

#342 Markdown (hedgedoc) slides from 2023-08-31.
  community-call/20230831-slides.md
Labels: housekeeping

#366 Add container minutes 2023-09-28
  container/20230928.md
Labels: Container

#348 add team IAM minutes from 2023-09-13
  iam/20230913.md
Labels: housekeeping, IAM
