Repository SovereignCloudStack/minutes, pull requests merged in 2023-10, with the labels that each got.

#380 Add OPS minutes from 2023-10-12
  ops/20231012.md
Labels: Ops

#333 Create 20230828.md
  sig-community/20230828.md
Labels: housekeeping, Community

#383 Add container minutes from 2023-10-19
  container/20231019.md
Labels: Container
