Repository SovereignCloudStack/minutes, pull requests merged in 2024-08, with the labels that each got.

#612 Add minutes from container call 2024-08-15.
  container/20240815.md
Labels: housekeeping, Container

#618 Create container 20240822.md
  container/20240822.md
Labels: Container

#611 Add missing pics from 2024 community calls.
  community-call/3bf9a568-80e8-486f-bf19-b77848deda94.jpeg
  community-call/4e25042c-6192-468c-bc94-3c19277976c2.png
  community-call/53543e9f-08d8-45d7-b90c-fbd05deb1552.png
  community-call/553fd6e2-a9b5-4ab4-ba35-146a10ab720d.jpg
  community-call/7f801676-6ef1-4690-9319-a75de515862b.jpg
  community-call/861b508e-4071-483e-aeef-c280ecdfab3c.jpg
  community-call/8903f45e-9aaf-4b72-9f65-4122896b00e0.png
  community-call/8d4e7116-a480-454d-aa39-9f4c63a91f96.jpg
  community-call/8eaf1675-fda1-4251-bd34-2f18250f3027.png
  community-call/974d1a14-d543-44d5-a80d-be2bbd0874c3.jpg
  community-call/98e7993c-5a29-425c-a2c7-f7bee2a24c45.png
  community-call/a0a4a4d4-045a-4749-846d-d9e0f0bddca0.jpeg
  community-call/bdb2cdf5-9d00-4ad3-ba0c-082da4017f9f.jpeg
  community-call/bee34a39-aedb-4edf-b866-9cc390401252.jpeg
  community-call/d6bddd57-a636-45a7-91ab-bbc155ee9ba6.jpg
  community-call/fb8fd9d7-81da-4fd6-b14b-d438dd362a97.jpg
  community-call/fcfebbe6-0308-444a-8ddf-e32f5089f31e.png
Labels: housekeeping, Community

#623 Add all missing 2024 ops minutes up to August
  ops/20240418.md
  ops/20240425.md
  ops/20240523.md
  ops/20240711.md
  ops/20240801.md
Labels: Ops
